In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
data=pd.read_csv('coursera_data.csv')
data.head()

,Course Name,Company Offering,Skills Gained,Ratings,Number of Ratings
0,Google Data Analytics,Google,"Data Analysis, R Programming, SQL, Business Co...",4.8,141000
1,Google Cybersecurity,Google,"Network Security, Python Programming, Linux, C...",4.8,26000
2,Google Project Management:,Google,"Project Management, Strategy and Operations, L...",4.8,104000
3,IBM Data Science,IBM,"Python Programming, Machine Learning, Data Sci...",4.6,123000
4,Google Digital Marketing & E-commerce,Google,"Digital Marketing, Marketing, Marketing Manage...",4.8,25000

In [4]:
data.shape

(1000, 5)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Course Name        1000 non-null   object
 1   Company Offering   1000 non-null   object
 2   Skills Gained      886 non-null    object
 3   Ratings            992 non-null    float64
 4   Number of Ratings  1000 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 39.2+ KB

In [6]:
data.isnull().sum()

Course Name            0
Company Offering       0
Skills Gained        114
Ratings                8
Number of Ratings      0
dtype: int64